body {
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
}

.recipe-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.recipe-content {
    flex: 1;
    padding: 20px;
}

.recipe-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
 }

.container h1 {
    color: #fe9e0d;
}
